/* CSS declarations go here */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
  overflow: hidden;
}

#epiceditor {
	position: absolute;
	width: 80%;
	top: 0;
	left: 20%;
	margin: 0 auto -50px;
}

#sidebar {
	position: absolute;
	width: 20%;
	height: 100%;
	background-color: #f5f5f5;
}

#sidebar .add {
  cursor: pointer;
}

#sidebar .add i {
  color: #666;
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
	border-top: 1px solid #7d7d7d;
	background: #5b5b5b; /* Old browsers */
	background: -moz-linear-gradient(top, #5b5b5b 0%, #545454 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b5b5b), color-stop(100%,#545454)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5b5b5b 0%,#545454 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5b5b5b 0%,#545454 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5b5b5b 0%,#545454 100%); /* IE10+ */
	background: linear-gradient(to bottom, #5b5b5b 0%,#545454 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#545454',GradientType=0 ); /* IE6-9 */
	color: #ddd;
  line-height: 20px;
}

#footer #versionselect {
  position: absolute;
  width: 50%;
  left: 25%;
  bottom: -1px;
  line-height: 20px;
}

#footer #versionselect input {
  width: 100%;
}

#footer #settings {
  position: absolute;
  font-size: 20px;
  left: 5px;
  bottom: -4px;
  cursor: pointer;
}

#footer #settings:hover {
  color:#fff;
}

#settings-list {
  display: none;
  position: absolute;
  width: 17%;
  bottom: 22px;
  left: 0;
  background-color: #ccc;
  -webkit-box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .11);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .11);
  padding: 10px;
}

#footer #wordcount {
	margin-right: 5px;
  font-weight: bold;
}

#footer #version {
  margin-right: 40px;
  font-weight: bold;
}

#sidebar .nav-list {
	margin: 0;
	padding: 10px;
}

#sidebar .nav-list li a {
	margin-right: -10px;
}

.navbar {
	margin: 0;
}

#login-buttons {
  margin: 10px;
}

#login-dropdown-list {
}

#render {
  position: absolute;
  bottom: 30px;
  text-align: center;
  width: 100%;
}

#render .progress {
  margin: 0 10px;
}

